.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureContainer {
  min-height: 240px;
  width: 100%;
  padding: 20px;
}

.featureSvg {
  height: auto;
  max-height: 200px;
  max-width: 100%;
}
